@model Fotbollstips.TipsData

@{
    ViewBag.Title = "Resultat";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Resultat : @ViewBag.Number</h2>

<div>
    @using (Html.BeginForm("Index", "Result", FormMethod.Post))
    {
        <table>
            <tr>
                <th>
                    Namn
                </th>
                <th>
                    Poäng
                </th>
                <th>
                    Finallag 1
                </th>
                <th>
                    Finallag 2
                </th>
                <th>
                    Vinnare finalen
                </th>

                @* - - - - - IndexCshtml_SaveResultsTh.txt - Code area starts - - - - - - -*@
                <th>
                    Tur - Ita
                </th>
                <th>
                    Wal - Sch
                </th>
                <th>
                    Dan - Fin
                </th>
                <th>
                    Bel - Rys
                </th>
                <th>
                    Eng - Kro
                </th>
                <th>
                    Öst - Nor
                </th>
                <th>
                    Ned - Ukr
                </th>
                <th>
                    Sko - Tje
                </th>
                <th>
                    Pol - Slo
                </th>
                <th>
                    Spa - Sve
                </th>
                <th>
                    Ung - Por
                </th>
                <th>
                    Fra - Tys
                </th>
                <th>
                    Fin - Rys
                </th>
                <th>
                    Tur - Wal
                </th>
                <th>
                    Ita - Sch
                </th>
                <th>
                    Ukr - Nor
                </th>
                <th>
                    Dan - Bel
                </th>
                <th>
                    Ned - Öst
                </th>
                <th>
                    Sve - Slo
                </th>
                <th>
                    Kro - Tje
                </th>
                <th>
                    Eng - Sko
                </th>
                <th>
                    Ung - Fra
                </th>
                <th>
                    Por - Tys
                </th>
                <th>
                    Spa - Pol
                </th>
                <th>
                    Ita - Wal
                </th>
                <th>
                    Sch - Tur
                </th>
                <th>
                    Nor - Ned
                </th>
                <th>
                    Ukr - Öst
                </th>
                <th>
                    Rys - Dan
                </th>
                <th>
                    Fin - Bel
                </th>
                <th>
                    Tje - Eng
                </th>
                <th>
                    Kro - Sko
                </th>
                <th>
                    Slo - Spa
                </th>
                <th>
                    Sve - Pol
                </th>
                <th>
                    Tys - Ung
                </th>
                <th>
                    Por - Fra
                </th>




                @* - - - - - Index.cshtml_SaveResultsTh.txt - Code area ends - - - - - - -*@

            </tr>
            <tr>
                <td>
                    @Model.Namn
                </td>
                <td>
                    @Model.Poäng
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Finallag1)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Finallag2)
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Vinnare)
                </td>


                @* - - - - - IndexCshtml_SaveResultsTextBoxFor.txt - Code area starts - - - - - - -*@
                <th>
                    @Html.TextBoxFor(m => m.Turkiet_Italien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Wales_Schweiz)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Danmark_Finland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Belgien_Ryssland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.England_Kroatien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Österrike_Nordmakedonien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Nederländerna_Ukraina)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Skottland_Tjeckien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Polen_Slovakien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Spanien_Sverige)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Ungern_Portugal)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Frankrike_Tyskland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Finland_Ryssland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Turkiet_Wales)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Italien_Schweiz)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Ukraina_Nordmakedonien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Danmark_Belgien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Nederländerna_Österrike)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Sverige_Slovakien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Kroatien_Tjeckien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.England_Skottland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Ungern_Frankrike)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Portugal_Tyskland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Spanien_Polen)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Italien_Wales)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Schweiz_Turkiet)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Nordmakedonien_Nederländerna)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Ukraina_Österrike)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Ryssland_Danmark)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Finland_Belgien)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Tjeckien_England)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Kroatien_Skottland)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Slovakien_Spaninen)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Sverige_Polen)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Tyskland_Ungern)
                </th>
                <th>
                    @Html.TextBoxFor(m => m.Portugal_Frankrike)
                </th>




                @* - - - - - Index.cshtml_SaveResultsTextBoxFor.txt - Code area ends - - - - - - -*@

            </tr>
            <tr>
                <td>
                    <input type="submit" value="Spara" />
                </td>
            </tr>
        </table>
    }




</div>