@model Fotbollstips.TipsData

@{
    ViewBag.Title = "Lämna in rad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h2>Lämna in tipsrad</h2>
</div>

@if (ViewBag.ParticipateResultSuccess != null)
{
    <div class="alert alert-success" role="alert">@ViewBag.ParticipateResultSuccess</div>
    <div class="alert alert-warning" role="alert">@ViewBag.ReminderSwish</div>
}
else if (ViewBag.ParticipateResultFail != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.ParticipateResultFail</div>
}
@if (ViewBag.ParticipateEmailSuccess != null)
{
    <div class="alert alert-success" role="alert">@ViewBag.ParticipateEmailSuccess</div>
}
else if (ViewBag.ParticipateEmailFail != null)
{
    <div class="alert alert-danger" role="alert">@ViewBag.ParticipateEmailFail</div>
}

<div>
    @using (Html.BeginForm("Participate", "Home", FormMethod.Post))
    {
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div>
                    <p>
                        Tippa resultat för samtliga gruppspelsmatcher, gissa de två finallagen samt vinnaren av finalen.
                        Den/de som får flest poäng tar hem hela prissumman, inga pengar till tvåorna.
                    </p>
                    <p>
                        För rätt resultat får du 3 poäng. Gissar du rätt vinnare, eller om det blir oavgjort, så får du 1 poäng.
                    </p>
                    <p>
                        <i>Exempel</i>: Matchen slutar 2-0, du har tippat 2-0. Då får du 3 poäng. Slutar matchen 4-0 har du fel resultat men
                        rätt vinnare och får därför 1 poäng. Om matchen slutar 1-1 och du tippat 2-2, får du 1 poäng. Rätt lag som 
                        finallag eller vinnare ger 3 poäng vardera.
                    </p>
                    <p>
                        Det kostar 50 kr att vara med. Raden lämnas in genom denna webbsida, betala via Swish
                        till telefonnummer 0709-632067 (till Martin Nordkvist). När betalningen är registrerad kommer
                        det stå vid sidan av ditt namn under fliken Resultat. <strong>Raden är alltså inte giltig förrän du betalat!</strong>
                        Andra kommer att se ditt namn men inte telefonnummer eller mailadress.
                        Du måste inte ange en mailadress om du inte vill. Om du skriver en emailadress kommer ett mail skickas ut
                        som innehåller en länk där du kan hämta din inlämnade rad.
                    </p>
                    <p>
                        Har du några frågor så gå in under fliken "Ge en kommentar" eller skicka ett mail direkt
                        till masterskapstips@gmail.com.
                    </p>
                </div>
            </div>
            <div class="panel-body">
                <p>
                    Ett tips: Titta under fliken 'Resultat' för att se att det namn du skriver inte
                    redan är taget. Det finns ingen kontroll som hindrar flera rader från att ha samma namn.
                    Använd alltså både för- som efternamn och lägg till en 1a och en 2a om du lämnar flera rader.
                </p>
                <table>
                    <tr class="no-stripes">
                        <td class="pw">För- och efternamn</td>
                        <td class="pw2"><input class="pi" type="text" name="myname" /></td>
                    </tr>
                </table>
                <table>
                    <tr class="no-stripes">
                        <td class="pw">Telefonnummer</td>
                        <td class="pw2"><input class="pi" type="text" name="myphonenumber" /></td>
                    </tr>
                </table>
                <table>

                    <tr class="no-stripes">
                        <td class="pw">Email</td>
                        <td class="pw2"><input class="pi" type="text" name="myemail" /></td>
                    </tr>
                </table>

                @* - - - - - ParticipateCshtml_Matches.txt - Code area starts - - - - - - -*@
                @******** Note: Add this a good places:
                    --> this is not from textfile -->    <p class="pm">14 juni</p>
                    --> this is not from textfile -->    <table>
                                                         <tr>
                                                             <td class="pw">Ryssland – Saudiarabien</td>
                                                             <td>
                                                                 <select size="1" name="ryssau1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                                                                 - <select size="1" name="ryssau2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                                                             </td>
                                                         </tr>
                    --> this is not from textfile -->    </table>
                *@
                <p class="pm">11 juni</p>
                <table>
                    <tr>
                        <td class="pw">Turkiet - Italien</td>
                        <td>
                            <select size="1" name="turita1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="turita2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">12 juni</p>
                <table>
                    <tr>
                        <td class="pw">Wales - Schweiz</td>
                        <td>
                            <select size="1" name="walsch1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="walsch2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Danmark - Finland</td>
                        <td>
                            <select size="1" name="danfin1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="danfin2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Belgien - Ryssland</td>
                        <td>
                            <select size="1" name="belrys1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="belrys2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">13 juni</p>
                <table>
                    <tr>
                        <td class="pw">England - Kroatien</td>
                        <td>
                            <select size="1" name="engkro1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="engkro2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Österrike - Nordmakedonien</td>
                        <td>
                            <select size="1" name="östnor1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="östnor2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Nederländerna - Ukraina</td>
                        <td>
                            <select size="1" name="nedukr1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="nedukr2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">14 juni</p>
                <table>
                    <tr>
                        <td class="pw">Skottland - Tjeckien</td>
                        <td>
                            <select size="1" name="skotje1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="skotje2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Polen - Slovakien</td>
                        <td>
                            <select size="1" name="polslo1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="polslo2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Spanien - Sverige</td>
                        <td>
                            <select size="1" name="spasve1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="spasve2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">15 juni</p>
                <table>
                    <tr>
                        <td class="pw">Ungern - Portugal</td>
                        <td>
                            <select size="1" name="ungpor1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="ungpor2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Frankrike - Tyskland</td>
                        <td>
                            <select size="1" name="fratys1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="fratys2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">16 juni</p>
                <table>
                    <tr>
                        <td class="pw">Finland - Ryssland</td>
                        <td>
                            <select size="1" name="finrys1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="finrys2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Turkiet - Wales</td>
                        <td>
                            <select size="1" name="turwal1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="turwal2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Italien - Schweiz</td>
                        <td>
                            <select size="1" name="itasch1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="itasch2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">7 juni</p>
                <table>
                    <tr>
                        <td class="pw">Ukraina - Nordmakedonien</td>
                        <td>
                            <select size="1" name="ukrnor1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="ukrnor2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Danmark - Belgien</td>
                        <td>
                            <select size="1" name="danbel1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="danbel2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Nederländerna - Österrike</td>
                        <td>
                            <select size="1" name="nedöst1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="nedöst2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">18 juni</p>
                <table>
                    <tr>
                        <td class="pw">Sverige - Slovakien</td>
                        <td>
                            <select size="1" name="sveslo1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="sveslo2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Kroatien - Tjeckien</td>
                        <td>
                            <select size="1" name="krotje1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="krotje2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">England - Skottland</td>
                        <td>
                            <select size="1" name="engsko1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="engsko2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">19 juni</p>
                <table>
                    <tr>
                        <td class="pw">Ungern - Frankrike</td>
                        <td>
                            <select size="1" name="ungfra1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="ungfra2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Portugal - Tyskland</td>
                        <td>
                            <select size="1" name="portys1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="portys2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Spanien - Polen</td>
                        <td>
                            <select size="1" name="spapol1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="spapol2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">20 juni</p>
                <table>
                    <tr>
                        <td class="pw">Italien - Wales</td>
                        <td>
                            <select size="1" name="itawal1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="itawal2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Schweiz - Turkiet</td>
                        <td>
                            <select size="1" name="schtur1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="schtur2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">21 juni</p>
                <table>
                    <tr>
                        <td class="pw">Nordmakedonien - Nederländerna</td>
                        <td>
                            <select size="1" name="norned1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="norned2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Ukraina - Österrike</td>
                        <td>
                            <select size="1" name="ukröst1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="ukröst2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Ryssland - Danmark</td>
                        <td>
                            <select size="1" name="rysdan1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="rysdan2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Finland - Belgien</td>
                        <td>
                            <select size="1" name="finbel1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="finbel2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">22 juni</p>
                <table>
                    <tr>
                        <td class="pw">Tjeckien - England</td>
                        <td>
                            <select size="1" name="tjeeng1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="tjeeng2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Kroatien - Skottland</td>
                        <td>
                            <select size="1" name="krosko1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="krosko2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>
                <p class="pm">23 juni</p>
                <table>
                    <tr>
                        <td class="pw">Slovakien - Spaninen</td>
                        <td>
                            <select size="1" name="slospa1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="slospa2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Sverige - Polen</td>
                        <td>
                            <select size="1" name="svepol1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="svepol2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Tyskland - Ungern</td>
                        <td>
                            <select size="1" name="tysung1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="tysung2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Portugal - Frankrike</td>
                        <td>
                            <select size="1" name="porfra1"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                            - <select size="1" name="porfra2"><option value="0" selected="selected">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option></select>
                        </td>
                    </tr>
                </table>

                @* - - - - - ParticipateCshtml_Matches.txt - Code area ends - - - - - - -*@

                <p class="pm">Final</p>
                <table>
                    <tr>
                        <td class="pw">Finallag 1</td>
                        <td>
                            <select size="1" name="finalteam1">

                                @* - - - - - ParticipateCshtml_Teams.txt - Code area starts 1/3 - - - - - - -*@
                                <option value="Belgien" selected="selected">
                                    Belgien
                                </option>
                                <option value="Danmark">
                                    Danmark
                                </option>
                                <option value="England">
                                    England
                                </option>
                                <option value="Finland">
                                    Finland
                                </option>
                                <option value="Frankrike">
                                    Frankrike
                                </option>
                                <option value="Italien">
                                    Italien
                                </option>
                                <option value="Kroatien">
                                    Kroatien
                                </option>
                                <option value="Nederländerna">
                                    Nederländerna
                                </option>
                                <option value="Nordmakedonien">
                                    Nordmakedonien
                                </option>
                                <option value="Polen">
                                    Polen
                                </option>
                                <option value="Portugal">
                                    Portugal
                                </option>
                                <option value="Ryssland">
                                    Ryssland
                                </option>
                                <option value="Schweiz">
                                    Schweiz
                                </option>
                                <option value="Skottland">
                                    Skottland
                                </option>
                                <option value="Slovakien">
                                    Slovakien
                                </option>
                                <option value="Spanien">
                                    Spanien
                                </option>
                                <option value="Sverige">
                                    Sverige
                                </option>
                                <option value="Tjeckien">
                                    Tjeckien
                                </option>
                                <option value="Turkiet">
                                    Turkiet
                                </option>
                                <option value="Tyskland">
                                    Tyskland
                                </option>
                                <option value="Ukraina">
                                    Ukraina
                                </option>
                                <option value="Ungern">
                                    Ungern
                                </option>
                                <option value="Wales">
                                    Wales
                                </option>
                                <option value="Österrike">
                                    Österrike
                                </option>




                                @* - - - - - ParticipateCshtml_Teams.txt - Code area ends 1/3 - - - - - - -*@

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Finallag 2</td>
                        <td>
                            <select size="1" name="finalteam2">
                                @* - - - - - ParticipateCshtml_Teams.txt - Code area starts 2/3 - - - - - - -*@

                                <option value="Belgien" selected="selected">
                                    Belgien
                                </option>
                                <option value="Danmark">
                                    Danmark
                                </option>
                                <option value="England">
                                    England
                                </option>
                                <option value="Finland">
                                    Finland
                                </option>
                                <option value="Frankrike">
                                    Frankrike
                                </option>
                                <option value="Italien">
                                    Italien
                                </option>
                                <option value="Kroatien">
                                    Kroatien
                                </option>
                                <option value="Nederländerna">
                                    Nederländerna
                                </option>
                                <option value="Nordmakedonien">
                                    Nordmakedonien
                                </option>
                                <option value="Polen">
                                    Polen
                                </option>
                                <option value="Portugal">
                                    Portugal
                                </option>
                                <option value="Ryssland">
                                    Ryssland
                                </option>
                                <option value="Schweiz">
                                    Schweiz
                                </option>
                                <option value="Skottland">
                                    Skottland
                                </option>
                                <option value="Slovakien">
                                    Slovakien
                                </option>
                                <option value="Spanien">
                                    Spanien
                                </option>
                                <option value="Sverige">
                                    Sverige
                                </option>
                                <option value="Tjeckien">
                                    Tjeckien
                                </option>
                                <option value="Turkiet">
                                    Turkiet
                                </option>
                                <option value="Tyskland">
                                    Tyskland
                                </option>
                                <option value="Ukraina">
                                    Ukraina
                                </option>
                                <option value="Ungern">
                                    Ungern
                                </option>
                                <option value="Wales">
                                    Wales
                                </option>
                                <option value="Österrike">
                                    Österrike
                                </option>




                                @* - - - - - ParticipateCshtml_Teams.txt - Code area ends 2/3 - - - - - - -*@

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="pw">Vinnare</td>
                        <td>
                            <select size="1" name="winner">

                                @* - - - - - ParticipateCshtml_Teams.txt - Code area starts 3/3 - - - - - - -*@

                                <option value="Belgien" selected="selected">
                                    Belgien
                                </option>
                                <option value="Danmark">
                                    Danmark
                                </option>
                                <option value="England">
                                    England
                                </option>
                                <option value="Finland">
                                    Finland
                                </option>
                                <option value="Frankrike">
                                    Frankrike
                                </option>
                                <option value="Italien">
                                    Italien
                                </option>
                                <option value="Kroatien">
                                    Kroatien
                                </option>
                                <option value="Nederländerna">
                                    Nederländerna
                                </option>
                                <option value="Nordmakedonien">
                                    Nordmakedonien
                                </option>
                                <option value="Polen">
                                    Polen
                                </option>
                                <option value="Portugal">
                                    Portugal
                                </option>
                                <option value="Ryssland">
                                    Ryssland
                                </option>
                                <option value="Schweiz">
                                    Schweiz
                                </option>
                                <option value="Skottland">
                                    Skottland
                                </option>
                                <option value="Slovakien">
                                    Slovakien
                                </option>
                                <option value="Spanien">
                                    Spanien
                                </option>
                                <option value="Sverige">
                                    Sverige
                                </option>
                                <option value="Tjeckien">
                                    Tjeckien
                                </option>
                                <option value="Turkiet">
                                    Turkiet
                                </option>
                                <option value="Tyskland">
                                    Tyskland
                                </option>
                                <option value="Ukraina">
                                    Ukraina
                                </option>
                                <option value="Ungern">
                                    Ungern
                                </option>
                                <option value="Wales">
                                    Wales
                                </option>
                                <option value="Österrike">
                                    Österrike
                                </option>




                                @* - - - - - ParticipateCshtml_Teams.txt - Code area ends 3/3 - - - - - - -*@

                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-warning" value="Lämna in rad" />
        </div>
    }
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('form').submit(function () {
        $('input.btn-warning').prop("disabled", "disabled");
    })
</script>